h1 p a {
    color: #333333;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

body {
    margin-left: 0px;
    font-size: 25px;
    padding-top:80px;
    padding-bottom:0px;
}

body h1 {
    font-size: 1.2em;
}

.main {
    min-height:90%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#logo {
    width:120px;
    height:auto;
    margin:0px;
}

h1 {
    margin-top:0px;
}

.navbar > li > a, .navbar {
    padding-top:0px !important; 
    padding-bottom:0 !important;
    min-height: 40px;
}
.page-header {
    background-color: #2196F3;
    margin-top: 0;
    padding: 0px 0px 0px 30px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: .8em;
    text-decoration: none;
    margin-top: 16px;
}

#logoTitle {
    margin-top: 4px;
    margin-left: 0px;
    margin-bottom:0px;
}

.headerLink:hover {
    opacity:0.5;
}

.nav-container {
    border:0px;
    -webkit-box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.45);
    box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.45);
}

#endNav {
    padding-right: 100px;
}

#footer {
    background-color: #2196F3;
    margin-bottom:0px;
    padding: 15px;
    padding-left:0px;
    color: white;
    font-size: .7em;
    bottom:0px;
    width:100%;
    position:relative;
}

.searchform {
    padding-bottom:100px;
}

.searchform label {
    padding-right:30px;
    padding-bottom:10px;
    display: block;
    width: 600px;
}

.searchform .form-group {
    padding-bottom: 100px;
}

.button-holder {
    text-align: center;
}

.nav-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-container ul li {
    display: inline-block;
    padding-left: 2.5em;
}

.nav-container h1 a:hover {
    color: black;
    text-decoration: underline;
}

.nav-container ul a.active {
    color: #BBDEFB;
    text-decoration: underline;
}

#results-intro {
    font-size:.7em;
}

.results-pane {
    border-top: solid 1px;
    border-bottom: solid 1px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 75vh;
}

.provider-result {
    list-style-type: none;
    border-left: solid #77dd00 5px;
    border-radius: 10px;
    padding:20px;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:50px;
}

.provider-result:hover {
    background: -webkit-linear-gradient(left, #E5FFE5 , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #E5FFE5, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #E5FFE5, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #E5FFE5, white); /* Standard syntax */
}

.provider-name {
    color: #338899;
}

.no-padding {
    padding: 0px;
}

.map {
    border: 1px solid;
    height:75vh;
}

.content {
    margin-left: 40px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.light {
    background-color: #E3F2FD;
    padding:20px;
    border:1px solid;
    border-color:#328bd9;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.active{
    color: #FF0000;
}

#formtitle {
    text-align: center;
}

.controls label {
    display: inline-block;
    width: 300px;
    height: 40px;
}
.radio {
    display: inline;
}

input[type='radio'] {
    margin-top:10px;
}