h1 p a {
    color: #333333;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

body {
    margin-left: 0px;
    font-size: 25px;
    padding-top:50px;
    padding-bottom:0px;
}

body h1 {
    font-size: 1.2em;
}

.main {
    min-height:90%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#logo {
    width:120px;
    height:auto;
    margin:0px;
}

h1 {
    margin-top:0px;
}

.navbar > li > a, .navbar {
    padding-top:0px !important; 
    padding-bottom:0 !important;
    min-height: 40px;
}
.page-header {
    background-color: #2196F3;
    margin-top: 0;
    padding: 0px 0px 0px 30px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: .8em;
    text-decoration: none;
    margin-top: 16px;
}

#logoTitle {
    margin-top: 4px;
    margin-left: 0px;
    margin-bottom:0px;
}

.headerLink:hover {
    opacity:0.5;
}

.nav-container {
    border:0px;
    -webkit-box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.45);
    box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.45);
}

#endNav {
    padding-right: 100px;
}

#footer {
    background-color: #2196F3;
    margin-bottom:0px;
    padding: 15px;
    padding-left:0px;
    color: white;
    font-size: .7em;
    bottom:0px;
    width:100%;
    position:absolute;
}

#picture_one {
    margin-top: 0px;
}

#picture_two {
    margin-bottom:-400px;
}

#picture_three {
    margin-top: 0px;
}

.transBox {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
}

.transBoxWrapper {
    top:40px;
    left:40px;
    position: absolute;
}

#start-looking {
    position: absolute;
    top:350px;
    left:50%;
    margin-left:-85px;
    width:170px;
}

#start-looking a {
    color:white;
}

#news_and_updates {
    font-size:2em;
}


.crop {
    height:425px;
    position:relative;
    overflow: hidden;
    margin-bottom:20px;
}

.crop img {
    height: 100%;
    width:100%;
    position:absolute;
    z-index: -1;
}


#tb1 {
    width:57%;
    position: relative;
}
#tb2 {
    width:84%;
    position: relative;
}
#tb3 {
    width:100%;
    position: relative;
}
#tb4 {
    width:55%;
    position: relative;
}

.pictureText {
    color: white;
}

.post_list {
    margin-left:40px;
}

.searchform {
    padding-top:40px;
    padding-bottom:30px;
}

.searchform label {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.form-group {
  padding-bottom: 50px;
}

.select {
  margin: 30 auto;
  width: 200px;
}

#warning {
  display: block;
  text-align: center;
  width: 100%;
  color: red;
  font-size: 0.5em;
}

.button-holder {
    position: absolute;
    border-radius: 0.5;
    bottom: 25%;
    width: 90px;
    left: 50%;
    margin-left: -45px;
    text-align: center;
}

.next-btn {
    position: absolute;
    width:90px;
    left: 50%;
    margin-left: -45px;
    bottom: 25%;
    border-radius:50px;
}

#myNavbar {
    margin-bottom:0;
}

.nav-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-container ul li {
    display: inline-block;
    padding-left: 2.5em;
}

.nav-container h1 a:hover {
    color: black;
    text-decoration: underline;
}

.nav-container ul a.active {
    color: #BBDEFB;
    text-decoration: underline;
}

#results-intro {
    margin-left: 5px;
    font-size:.8em;
}

#results-intro #len {
    color: #00cc00;
}

.results-pane {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 93%;
}

.provider-result {
    list-style-type: none;
    border-left: solid #77dd00 4px;
    padding:10px;
    margin-left:20px;
    margin-right: 10px;
    margin-top:5px;
    margin-bottom:20px;
    background-color: #f5ffff;
}

.provider-name {
    color: #2196F3;
    font-size: 0.8em;
}

.provider-details {
    list-style: none;
    margin-top: 10px;
    margin-left: -10px;
    font-size: 0.75em;
}

.provider-details > li {
    margin-bottom: 5px;
}

.no-padding {
    padding: 0px;
}

.map {
    height:93%;
}

.content {
    margin-left: 40px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px;
    border-left: solid #77dd00 3px;
    padding-left:30px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.light {
    background-color: #E3F2FD;
    padding:20px;
    border:1px solid;
    border-color:#328bd9;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.active{
    color: #FF0000;
}

.control-label {
    display: inline-block;
    width: 300px;
    height: 40px;
}
.radio {
    display: inline;
}

input[type='radio'] {
    margin-top:10px;
}

@-webkit-keyframes imgFade {
 0% {
   opacity:0;
 }
 16% {
   opacity:1;
 }
 33% {
   opacity:1;
 }
 50% {
   opacity:0;
 }
 100% {
   opacity:0;
 }
}

@-moz-keyframes imgFade {
 0% {
   opacity:0;
 }
 16% {
   opacity:1;
 }
 33% {
   opacity:1;
 }
 50% {
   opacity:0;
 }
 100% {
   opacity:0;
 }
}

@-o-keyframes imgFade {
 0% {
   opacity:0;
 }
 16% {
   opacity:1;
 }
 33% {
   opacity:1;
 }
 50% {
   opacity:0;
 }
 100% {
   opacity:0;
 }
}

@keyframes imgFade {
 0% {
   opacity:0;
 }
 16% {
   opacity:1;
 }
 33% {
   opacity:1;
 }
 50% {
   opacity:0;
 }
 100% {
   opacity:0;
 }
}

.crop img {
  -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;

  -moz-animation-name: imgFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 12s;

  -o-animation-name: imgFade;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 12s;

  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;

  opacity:0;
}

.crop img:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.crop img:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
.crop img:nth-of-type(3) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}


.leaflet-container {  /* all maps */
    width:  100%;
    height: 100%;
}

@media screen and (max-width: 950px) {
    .transBox {
    font-size: 1.7em;
    }
}

@media screen and (max-width: 700px) {
    .transBox {
    font-size: 1.35em;
    }
    #start-looking {
        top:330px;
    }
}

@media screen and (max-width: 540px) {
    .transBox {
    font-size: 1em;
    }
    #start-looking {
        top:300px;
    }
}

@media screen and (max-width: 500px) {
    .transBox {
    font-size: .9em;
    }
    #start-looking {
        top:290px;
    }
    #news_and_updates {
        font-size: 1.4em;
    }
    .crop {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 460px) {
    .transBoxWrapper {
        top:20px;
        left:10px;
    }
    .transBox {
    font-size: .65em;
    }
    #start-looking {
        top:180px;
        font-size: .5em;
        width:130px;
        margin-left:-65px;
        text-align: center;
    }
    .post_list {
        font-size: .65em;
    }
    .crop {
        height:230px;
    }
}