h1 a {
    color: #333333;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

body {
    margin-left: 0px;
    font-size: 25px;
    padding-top:80px;
    padding-bottom:80px;
}

body h1 {
    font-size: 1.2em;
}

#logo {
    width:120px;
    height:auto;
    margin:0px;
}

h1 {
    margin-top:0px;
}

.navbar > li > a, .navbar {
    padding-top:0px !important; 
    padding-bottom:0 !important;
    height: 40px;
}
.page-header {
    background-color: #2196F3;
    margin-top: 0;
    padding: 0px 0px 0px 30px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: .8em;
    text-decoration: none;
    margin-top: 16px;
}

#logoTitle {
    margin-top: 4px;
}

.headerLink:hover {
    opacity:0.5;
}

.nav-container {
    -webkit-box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.45);
    box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.45);
}

#endNav {
    padding-right: 100px;
}

.searchform label {
    padding-right:30px;
}

.searchform p {
    padding-bottom: 23px;
}

.searchform ul {
    list-style-type: none;

}

.searchform ul li {
    display: inline;
    padding-right:20px;
}

.button-holder {
    text-align: center;
}

.nav-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-container ul li {
    display: inline-block;
    padding-left: 2.5em;
}

.nav-container h1 a:hover {
    color: black;
    text-decoration: underline;
}

.nav-container ul a.active {
    color: #BBDEFB;
    text-decoration: underline;
}


.content {
    margin-left: 40px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.light {
    background-color: #E3F2FD;
    padding:20px;
    border:1px solid;
    border-color:#328bd9;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.active{
    color: #FF0000;
}

#formtitle {
    text-align: center;
}