a {
	color:inherit;
}

#page {
	background-color: #E6FFE6;
	background-size: 100% 100%;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
}

.circle {
	text-align: center;
	position:absolute;
	height: auto;
	padding-top: 14%;
	width: 14%;
	top:50%;
	left:50%;
	border-radius: 50%;
	background:#009900;
	transform:translate(-50%,-66%);
	box-shadow: -1px 1px 15px #666666;
		-o-transition:color 1s ease-out, background 1s ease-out;
	-ms-transition:color 1s ease-out, background 1s ease-out;
	-moz-transition:color .2s ease-out, background 1s ease-out;
	-webkit-transition:color .2s ease-out, background 1s ease-out;
	/* ...and now override with proper CSS property */
	transition:color 1s ease-out, background 1s ease-out;
}

.circle:hover {
	background: #0DE701;
	background-image: -webkit-linear-gradient(top, #34EF6C, #0DE701);
	background-image: -moz-linear-gradient(top, #34EF6C, #0DE701);
	background-image: -ms-linear-gradient(top, #34EF6C, #0DE701);
	background-image: -o-linear-gradient(top, #34EF6C, #0DE701);
	background-image: linear-gradient(to bottom, #34EF6C, #0DE701);
	text-decoration: none;
	box-shadow: -1px 1px 50px #666666;
	color:white;
	transition:.5s;
}

.center-text {
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-66%);
	font-family: Arial;
	font-size: 26px;
}

.hide-init {
	display: none;
	color:white;
}

#center-circle {
	border: 3px solid green;
}

#center-circle:hover {
	border: 3px solid #00A2E8;
}

@media all and (max-width: 1000px) {
    .center-text {font-size:20px;}
}

@media all and (max-width: 800px) {
    .center-text {font-size:14px;}
}

@media all and (max-width: 600px) {
    .center-text {font-size:12px;}
}

@media all and (max-width: 400px) {
    .center-text {font-size:7px;}
}

@media all and (max-width: 200px) {
    .center-text {font-size:4px;}
}