{% extends 'app/base.html' %}
<html>
	<head>
		<title>Sheltr | {% block title %}About{% endblock %} </title>
	</head>
	<body>
        {% block content %}
        <p><h2><b>Email us at info@sheltr.org</b></h2></p> <br />
		<p>
		<h1><b>About Sheltr</b></h1></p>

		<p>Sheltr aims to help eliminate homelessness by addressing the information gap that prevents individuals and families experiencing homelessness from accessing essential resources, and constrains case managers from locating the most appropriate and available resource for their clients.</p> <br />

		<p>Overall, we hope to empower individuals and resource providers by providing access to timely and accurate information.</p>
			<p><br /></p>
		<p><b>Our Team:</b><br />
		Sharif Braxton<br />
		Qais Feroz<br />
		David Gong<br />
		Tony Jiang<br />
		Gaida Mahgoub<br />
		Heba Mustafa</p>
		<p><b>Contributors</b><br />
		{To be listed with their permission}</p>
        {% endblock %}
	</body>
</html>
