{% load staticfiles %}
<html>
    <head>
    	{% include 'app/head_css.html' %}
        <!--<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>-->
        <title>Sheltr | {% block title %}{% endblock %}</title>
    </head>
	<body>
		<div id="wrapper">
			{% include "app/navigationbar.html" %}
		    <div class="main">
	            {% block content %}
	            {% endblock %}
    		    {% block results %}
	    		{% endblock %}
		    </div>

		    <div id="footer">
		    	<div class="container">
		    		<a href="https://www.facebook.com/sheltrapp/?fref=ts"><img id="fb-logo" src="{% static 'images/FB-f-Logo__blue_29.png' %}"/></a>
		    	</div>
		    </div>
		</div>
	    <script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>