{% load staticfiles %}
<html>
    <head>
    	{% include 'app/head_css.html' %}
        <!--<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>-->
        <title>Sheltr | {% block title %}{% endblock %}</title>
    </head>
	<body>
		{% include "app/navigationbar.html" %}
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	            {% block content %}
	            {% endblock %}
	            </div>
	        </div>
	    </div>
	</body>
</html>