<!DOCTYPE html>
<html>
    <head>
        <title>Sheltr</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if providers %}
            <ul>
                {% for provider in providers %}
                <li>{{ provider.provider_name }}</li>
                <li>{{ provider.location_name }}</li>
                <li>{{ provider.website }}</li>
                <li>{{ provider.address1 }}</li>
                <li>{{ provider.city }}</li>
                <li>{{ provider.state }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No providers currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>


       