{% load staticfiles %}
<!-- Code for navigation bar, simply specify what the 'active' parameter is when including this file in another template -->
<nav id="myNavbar" class="navbar navbar-fixed-top page-header nav-container" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
            </button>
            <h1 id="logoTitle"><a href="{% url 'search' %}" class="headerLink {% if request.path == '/search/' %}active{% endif %}"><img id="logo" src="{% static 'images/sheltrlogo2.png' %}"></a></h1>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-right navbar-nav">
                <li><h1><a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">About Us</a></h1></li>
                <li id="endNav"><h1><a href="{% url 'post_list' %}" class="{% if request.path == '/blog' %}active{% endif %}">Blog</a></h1></li>
            </ul>
        </div>
    </div>
</nav>

