<!-- Code for navigation bar, simply specify what the 'active' parameter is when including this file in another template -->

<div class="page-header nav-container">
    {% if user.is_authenticated %}
	    <a href="{% url "post_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
    <ul>
	    <li><h1><a href="/search" class="{% if active == 'search' %}active{% endif %}">Sheltr</a></h1></li>
        <li><h1><a href="#" class="{% if active == 'phc' %}active{% endif %}">Project Homeless Connect - Transitional Housing</a></h1></li>
        <li><h1><a href="/search" class="{% if active == 'search' %}active{% endif %}">Find Resources</a></h1></li>
        <li><h1><a href="{% url 'post_list' %}" class="{% if active == 'blog' %}active{% endif %}">Blog</a></h1></li>
    	<li><h1><a href="{% url 'about' %}" class="{% if active == 'about' %}active{%endif%}">About Us</a></h1></li>
    </ul>
</div>