{% extends "app/base_search.html" %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sheltr Search</title>
    </head>

    <body>
        {% block content %}
        <h1>Here are the Transitional Housing Providers to search!</h1>
        <p><br></br></p>
<!--         Displays the questionaire -->
        <form method="get" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Search"/>
        </form>
<!--         Displaying the searched providers, the same ones that meet the characteristics requested by the customer., by going through the queryset of providers -->
        {% if providers %}
            {% for x in providers %} 
            <!-- Provides the name, location, address, website, and phone number, mildly formatted -->
                <li><b>{{ x.provider_name}}</b></li>
                    <ul>Location: <i>{{ x.location_name}}</i></ul>
                    <ul>Address: <i>{{ x.address1}}</i></ul>
                    <ul>{{ x.website}}</ul>
                    <ul>Phone: <i>{{ x.phone}}</i></ul>
                <p><br></br></p>
            {% endfor %}
        {% else %}
            No providers available.  
        {% endif %}
        {% endblock %}
    </body>
</html>