{% extends "app/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html>
    <head>
        {% block scripts %}
        <script type="text/javascript" src="{% static 'js/form.js' %}" defer></script>
        <script>
            var providers = "{{ providers_json|escapejs }}";
            var ref_loc_lat = {{ ref_loc_lat }};
            var ref_loc_lng = {{ ref_loc_lng }};
        </script>
        {% leaflet_js %}
        <script src="{% static 'js/leaflet-routing-machine.js' %}"></script>
        {% leaflet_css %}
        <link rel="stylesheet" href="{% static 'css/leaflet-routing-machine.css' %}"/>
        {% endblock %}
        {% block title %} Search {% endblock %}
    </head>
    <body> 
        {% block content %}
        {% if not query %}
        <div class="container">
        </br>
<!--         Displays the questionaire -->
        <form method="GET" action=".">
            {% csrf_token %}
            <div class="searchform">
                {% crispy form %}
                <span id="warning">You must answer this question.</span>
                <button class="next-btn btn-primary btn-sm">Next</button>
            </div>
        </form>
        </div>
        {% endif %}
<!--         Displaying the searched providers, the same ones that meet the characteristics requested by the customer., by going through the queryset of providers -->
        {% endblock %}


{% block results %}
    {% if query %}
        {% if providers %}
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-6 no-padding">
            <div class="results-pane">
                <div id="results-intro">
                    We've matched you with <span id="len">{{ length }}</span> providers.
                </div>
                {% for x in providers %} 
                <!-- Provides the name, location, address, website, and phone number, mildly formatted -->
                <div class="provider-result">
                    <b class="provider-name"><a href="/provider/{{ x.slug }}">{{x.provider_name}}</a></b>
                    <p class="provider-distance"></p>
                    <ul class="provider-details">
                        <li><span aria-label="Address" class="glyphicon glyphicon-search"></span>
                            {{ x.address1 }}
                            {{ x.address2 }} {{x.city}}, {{x.state}}, USA</li>
                        <li><span aria-label="Website" class="glyphicon glyphicon-globe"></span><a href="{{x.website}}"> {{x.website}}</a></li>
                        <li><span aria-label="Phone" class="glyphicon glyphicon-earphone"></span> <i>{{x.phone}}</i></li>
                    </ul>
                </div>
                {% endfor %}
            {% else %}
                No providers available.  
            {% endif %}
            </div>
            </div>
            <div class="col-md-6 no-padding">
                <div class="map">
                    {% leaflet_map "provider_map" %}
                </div>
            </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
    </body>
</html>